@media (min-width: 768px) {
  .svg-pattern {
    background-image: url("svg/background.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

input:focus,
input:not(:placeholder-shown) {
  padding-top: 1rem;
  padding-bottom: 0;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  display: block;
  margin-left: 1rem;
  margin-top: 0.375rem;
  position: relative;
  top: -2.75rem;
  transition: 0.5s;
}

input:focus::placeholder {
  color: transparent;
}
